<h1 class="page-header">正在热映</h1>
<h2 ng-if="message">{{message}}</h1>
<div class="list-group">
  <a href="#" class="list-group-item " ng-repeat="movie in data">
		<div class="media">
			<div  class="media-left media-middle">
				<img src="{{movie.images.small}}" class="media-left media-middle">
			</div>
    		
	  		<div class="media-body">
		    	<h2 class="media-heading">{{movie.title}}</h2>
		    	<p>导演:<span ng-repeat="daoyan in movie.directors">{{daoyan.name}}</span></p>
		    	<p>类型:<span>{{movie.genres.join(".")}}</span></p>
		    	<p>演员:<span ng-repeat="yanyuan in movie.casts">{{yanyuan.name+","}}</span></p>
	  		</div>
		</div>
  </a>
  
</div>
<p>总共<span>{{sum}}</span>条记录</p>
<div class="mask" ng-if="loading">
	<div class="spinner">
  <div class="dot1"></div>
  <div class="dot2"></div>
</div>
</div>
